<h2 class="text-center mt-32">TAILWIND BOX SHADOWS</h2>
<div class="w-full flex gap-16 place-content-center items-center my-5 ">

  <div class="flex justify-center items-center w-5 h-5 bg-white shadow text-xs">
    0
  </div>
  <div class="flex justify-center items-center w-10 h-10 bg-white shadow-sm">
    1
  </div>
  <div class="flex justify-center items-center w-16 h-16 bg-white shadow-md">
    2
  </div>
  <div class="flex justify-center items-center w-24 h-24 bg-white shadow-lg">
    3
  </div>
  <div class="flex justify-center items-center w-36 h-36 bg-white shadow-xl">
    4
  </div>
  <div class="flex justify-center items-center  w-56 h-56 bg-white shadow-2xl">
    5
  </div>

</div>

<h2 class="text-center">TAILWIND DROP SHADOWS</h2>
<div class="w-full flex gap-16 place-content-center items-center my-5 ">

  <div class="flex justify-center items-center w-5 h-5 bg-white drop-shadow text-xs">
    0
  </div>
  <div class="flex justify-center items-center w-10 h-10 bg-white drop-shadow-sm">
    1
  </div>
  <div class="flex justify-center items-center w-16 h-16 bg-white drop-shadow-md">
    2
  </div>
  <div class="flex justify-center items-center w-24 h-24 bg-white drop-shadow-lg">
    3
  </div>
  <div class="flex justify-center items-center w-36 h-36 bg-white drop-shadow-xl">
    4
  </div>
  <div class="flex justify-center items-center  w-56 h-56 bg-white drop-shadow-2xl">
    5
  </div>

</div>

<h2 class="text-center">JOSH COMEAU SHADOWS</h2>
<div class="w-full flex gap-16 place-content-center items-center my-5 ">
  <div class="flex justify-center items-center w-36 h-36 bg-white layeredbox1 rounded-lg">
    LAYERED BOX 1
  </div>
  <div class="flex justify-center items-center w-36 h-36 bg-white layeredbox2 rounded-lg">
    LAYERED BOX 2
  </div>
  <div class="flex justify-center items-center w-36 h-36 bg-white coloredlayeredbox rounded-lg">
    COLORED LAYERED BOX
  </div>
  <div class="flex justify-center items-center w-36 h-36 bg-white dropshadow rounded-lg">
    DROP SHADOW BOX
  </div>
  <div class="flex justify-center items-center w-36 h-36 bg-white layereddropshadow rounded-lg">
    LAYERED DROP SHADOW
  </div>

</div>

<h2 class="text-center">JOSH COMEAU SHADOWS between Different box sizes</h2>
<div class="w-full flex gap-16 place-content-center items-center my-5 ">
  <div class="flex justify-center items-center firstbox bg-white rounded-lg">
    Small box
  </div>
  <div class="flex justify-center items-center secondbox bg-white rounded-lg">
    Medium box
  </div>
  <div class="flex justify-center items-center thirdbox bg-white rounded-lg">
    Big box
  </div>

</div>

<h2 class="text-center">CARD STYLE BOX SHADOW</h2>
<div class="w-full flex gap-16 place-content-center items-center my-5 ">
  <div class="flex w-96 h-52 justify-center items-center cardstyleboxshadow bg-white rounded-lg">
    CARD STYLE BOX SHADOW
  </div>

</div>
