<nav
  class="absolute top-0 w-full flex flex-wrap py-2 text-frankpurple-800 dark:text-franklight-300 bg-franklight-400 border-franklight-600
dark:bg-frankdark2-500 dark:border-frankdark2-400 border-b-2 sm:border-none sm:bg-transparent dark:sm:bg-transparent transition-all duration-300">

  <div class="w-11/12 xl:w-4/6 mx-auto flex flex-wrap items-center justify-between">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">

      <!-- FRAN CODER LOGO -->
      <a routerLink="/"
        class="text-frankpurple-800 py-2 flex items-center text-md uppercase font-bold dark:text-franklight-200 dark:hover:text-franklight-300">
        <!-- <img src="assets/tablon-dev.png" alt="tablon-dev" class="w-4 md:w-4 lg:w-6 mr-3 drop-shadow-sm "> -->
        <div class="text-lg font-eduqld ">

          <span class="bg-clip-text text-transparent backgroundGradient">FRAN</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-9 pblogo ml-1 -mr-6 drop-shadow-sm inline-block" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 4M6 16l-4-4 4-4" />
          </svg>
          <span>ODER</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-9 -ml-1 pb-1 drop-shadow-sm inline-block" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 20l4-16m4 4l4 4-4 4M6 4-4" />
          </svg>
        </div>
      </a>

      <!-- MENU ICON -->
      <button class="menu cursor-pointer leading-none px-3 py-1 block lg:hidden" type="button" (click)="setNavbarOpen()"
        onclick="this.classList.toggle('opened'); this.setAttribute('aria-expanded', this.classList.contains('opened'))"
        aria-label="Main Menu">

        <svg class="w-6 h-6" viewBox="0 0 100 100">
          <path class="line line1"
            d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
          <path class="line line2" d="M 20,50 H 80" />
          <path class="line line3"
            d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
      </button>
    </div>

    <div class="lg:flex flex-grow items-center ml-2" [ngClass]="{ hidden: !navbarOpen, block: navbarOpen }"
      id="example-navbar-warning">
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">

        <li *ngFor="let link of navigation" class="flex items-center mr-2 ">
          <a class="flex items-center text-xs uppercase rounded-lg px-3 py-2 font-bold hover:bg-franklight-100 hover:scale-105
          active:bg-franklight-400  dark:hover:bg-frankdark-600 dark:active:bg-frankdark-600" routerLink={{link.path}}
            routerLinkActive="bg-franklight-400 dark:bg-slate-600" ariaCurrentWhenActive="page"
            (click)="setNavbarOpen()">
            <span class="inline-block">{{link.name}}</span>
          </a>
        </li>

        <li class="flex items-center">
          <a class="px-3 py-2 flex items-center text-xs uppercase font-bold cursor-pointer"
            (click)="toggleDarkMode(); setNavbarOpen()">

            <!-- DARK MODE ICON -->
            <svg xmlns="http://www.w3.org/2000/svg" *ngIf="localStorageTheme === 'light'"
              class="h-6 w-6 stroke-franklight-700 hover:stroke-franklight-600 " fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
            </svg>
            <!-- LIGHT MODE ICON -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-slate-400 hover:stroke-slate-300" fill="none"
              viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" *ngIf="localStorageTheme === 'dark'">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </a>
        </li>

        <!-- C.V BUTTON -->
        <li class="flex items-center justify-center">
          <a download="" href="assets/pdf/CV-Franco_Daniel_Filippi.pdf">
            <button
              class="font-kalam inline-flex text-franklight-300 backgroundGradient text-xs font-bold uppercase px-4 py-2 rounded
            shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
              type="button">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
              &nbsp; Descargar C.V
            </button>
          </a>
        </li>

      </ul>

    </div>
  </div>
</nav>
