<section id="calendar">
  <div class="container sm:px-5 py-12 mx-auto flex flex-wrap justify-center">
    <a class="block h-56 sm:w-1/2 group" href="https://koalendar.com/e/meet-with-franco-filippi" target="_blank"
      rel="noopener noreferrer">
      <div
        class="overflow-hidden relative flex items-end h-full transition bg-white hover:bg-slate-50 border-4 border-black group-hover:-translate-x-1 group-hover:-translate-y-1 rounded-3xl group-hover:shadow-[4px_4px_0_0_#000] p-8 dark:bg-yellow-300 dark:hover:bg-yellow-400">
        <div class="lg:group-hover:opacity-0 lg:group-hover:absolute">
          <span class="text-3xl sm:text-4xl" role="img" aria-hidden="true">📆</span>
          <p class="mt-4 text-xl font-bold sm:text-2xl">Agendemos un meet!</p>
          <p class="mt-2 text-sm font-medium leading-relaxed sm:hidden">
            Estoy seguro de poder colaborar contigo 😊
          </p>
        </div>

        <div class="absolute opacity-0 lg:group-hover:opacity-100 lg:group-hover:relative">
          <p class="text-2xl font-bold">Ve mis horarios disponibles y charlemos</p>

          <p class="mt-4 pr-16 text-lg font-medium leading-relaxed z-10">
            Puedes comentarme las necesidades de<br> tu proyecto, estoy seguro de poder colaborar contigo
          </p>
        </div>
        <img src="assets/jimmy-tablon.png" alt="jimmy and tablon"
          class="absolute -bottom-10 -right-5 -z-10 opacity-80 dropshadowjimmy">
      </div>
    </a>
  </div>

</section>
