<div class="container px-5 py-24 mx-auto flex flex-wrap justify-center">
  <a class="block h-56 w-1/2 group" href="https://koalendar.com/e/meet-with-franco-filippi" target="_blank">
    <div
      class="relative flex items-end h-full transition bg-white border-4 border-black group-hover:-translate-x-1 group-hover:-translate-y-1 rounded-3xl group-hover:shadow-[4px_4px_0_0_#000] p-8">
      <div class="lg:group-hover:opacity-0 lg:group-hover:absolute">
        <span class="text-3xl sm:text-4xl" role="img" aria-hidden="true">📆</span>
        <p class="mt-4 text-xl font-bold sm:text-2xl">Agendemos un meet!</p>
      </div>

      <div class="absolute opacity-0 lg:group-hover:opacity-100 lg:group-hover:relative">
        <p class="text-2xl font-bold">Ve mis horarios disponibles y charlemos</p>

        <p class="mt-4 text-lg font-medium leading-relaxed">
          Puedes comentarme las necesidades de tu proyecto, estoy seguro poder colaborar contigo 😊
        </p>
      </div>
    </div>
  </a>
</div>
