/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@layer utilities {
  .shapeface {
    filter:
      drop-shadow(1px 2px 2px rgba(184, 137, 8, 0.144)) drop-shadow(2px 4px 4px rgba(184, 137, 8, 0.144)) drop-shadow(3px 6px 6px rgba(184, 137, 8, 0.144));
  }

  .shapefacedark {
    filter: drop-shadow(1px 2px 8px rgba(253, 251, 243, 0.168)) drop-shadow(2px 4px 16px rgba(253, 251, 243, 0.168)) drop-shadow(3px 6px 32px rgba(253, 251, 243, 0.168));
  }

  .backgroundGradient {
    background-image: linear-gradient(35deg,
        hsl(315deg 88% 57%) 0%,
        hsl(310deg 79% 59%) 15%,
        hsl(304deg 69% 60%) 22%,
        hsl(295deg 67% 63%) 28%,
        hsl(286deg 72% 66%) 33%,
        hsl(277deg 77% 69%) 37%,
        hsl(268deg 81% 72%) 42%,
        hsl(260deg 84% 74%) 46%,
        hsl(251deg 87% 76%) 50%,
        hsl(251deg 82% 73%) 54%,
        hsl(252deg 79% 69%) 58%,
        hsl(252deg 75% 66%) 63%,
        hsl(253deg 73% 62%) 67%,
        hsl(253deg 70% 59%) 72%,
        hsl(254deg 68% 55%) 78%,
        hsl(255deg 67% 51%) 85%,
        hsl(256deg 78% 46%) 100%);
  }

  .pblogo {
    padding-bottom: .4rem;
  }

}
